.btn{
    background-color: white;
    color: black;
    margin: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    width: fit-content;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5%;
    height: 50px;
    width: 100px;
}
