@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
}

.nav, .nav2{
  margin: 4px;
  padding-top: 10px;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}

 .nav:hover{
  text-decoration: underline;
}
 h4:hover{
  text-decoration: underline;
}