* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.card {
  /* height: 200px; */
  border: 2px solid black;
  width: 300px;
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.card button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 10%;
  border: 2px solid black;
}

.card img {
  height: 100px;
  width: 100px;
}